<!DOCTYPE html>
<html>

<head>
    <title>Nathan Heckman</title>
    <link rel="icon" type="image/x-icon" href="static/n.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for( 'static' , filename="style.css" ) }} />
</head>

<body>
    <div class="topnav">
        <div class="topnav-centered">
            <img src="static/headshot.jpg" alt="Nathan Heckman">
            <p>Nathan Heckman</p>
        </div>
        <a href="/home">Home</a>
        <a href="/resume">Resume</a>
        <a href="/projects">Projects</a>
        <a class="active" href="/contact">Contact</a>
    </div>
    <div class="main">
        <div class="left">
            <h1>770-843-8014</h1>
            <br>
            <h1 id="email">nheckman29@gmail.com</h1>
        </div>
        <div class="right">
            <a href="https://www.linkedin.com/in/nathan-heckman/">
                <div class="linkedin">
                    <img src="static/linkedin.png" alt="LinkedIn">
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="form">
        <form action="https://formspree.io/f/xpzbbrwv" method="POST">
            <label>Email:
                <input type="email" name="email" required>
            </label>
            <br>
            <label>Message:
                <textarea name="message"></textarea>
            </label>
            <br>
            <!-- Other form fields go here if needed -->
            <button type="submit">Send</button>
        </form>
    </div>
</body>

</html>