<!DOCTYPE html>
<html>

<head>
    <title>Nathan Heckman</title>
    <link rel="icon" type="image/x-icon" href="static/n.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for( 'static' , filename="style.css" ) }} />
</head>

<body>
    <div class="topnav">
        <div class="topnav-centered">
            <img src="static/headshot.jpg" alt="Nathan Heckman">
            <p>Nathan Heckman</p>
        </div>
        <a class="active" href="/home">Home</a>
        <a href="/resume">Resume</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="main">
        <div class="left">
            <h1>Current & Former Employers</h1>
            <div class="slideshow">
                <img class="companies" src="static/adp.png" alt="ADP">
                <img class="companies" src="static/neenah.png" alt="Neenah">
                <img class="companies" src="static/rcb.jpg" alt="Robinson College of Business">
                <img class="companies" src="static/gsu.png" alt="Georgia State University">
                <img class="companies" src="static/classic.jpg" alt="Classic Collision">
            </div>
        </div>
    </div>


    <script>
        var slideIndex = 0;
        slideshow();

        function slideshow() {
            var i;
            var x = document.getElementsByClassName("companies");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }
            x[slideIndex - 1].style.display = "block";
            setTimeout(slideshow, 2000);
        }
    </script>
</body>

</html>