<!DOCTYPE html>
<html>

<head>
    <title>Nathan Heckman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for( 'static' , filename="style.css" ) }} />
</head>

<body>
    <div class="topnav">
        <div class="topnav-centered">
            <p>Nathan Heckman</p>
        </div>
        <a class="active" href="/home">Home</a>
        <a href="/resume">Resume</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="main">
        <h1>Nathan Heckman</h1>
    </div>
</body>

</html>