<!DOCTYPE html>
<html>

<head>
    <title>Nathan Heckman</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for( 'static' , filename="style.css" ) }} />
</head>

<body>
    <div class="topnav">
        <div class="topnav-centered">
            <p>Nathan Heckman</p>
        </div>
        <a href="/home">Home</a>
        <a class="active" href="/resume">Resume</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="main">
        <object data="Nathan-Heckman-Resume.pdf" type="application/pdf">
            <embed src="https://drive.google.com/file/d/13j1qcgMcRMfWAdY0r6uq72SAp8y56-dM/preview?usp=sharing" width="100%" height="850px"/> 
        </object>
    </div>
</body>

</html>